//Colors
$dark-blue: #27354b;
$blue: #1f74cc;
$dark-grey: #333;
$grey: #666;
$off-white: #f7f7f7;
// $mauve: linear-gradient(to bottom, #42275a, #734b6d);
//Font Sizes
$font-size-xl: 6rem;
$font-size-l: 2rem;
$font-size-s: 1.4rem;
//Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
